<div *ngIf="cliente">

    <h2>{{cliente.nomeCliente | uppercase}} Detalhes</h2>
    <div><span>id: </span>{{cliente.id}}</div>
    <div>
      <label for="cliente-nomeCliente">Cliente: </label>
      <input id="cliente-nomeCliente" [(ngModel)]="cliente.nomeCliente" placeholder="nomeCliente">
    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
  </div>