<h2>Top Clientes</h2>
<div class="clientes-menu">
    <a *ngFor="let cliente of clientes"
    routerLink="/detalhesClientes/{{cliente.id}}">
    {{cliente.nomeCliente}}
  </a>
</div>
<app-cliente-search></app-cliente-search>