<div id="search-component">
    <label for="search-box">Cliente Search</label>
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />
  
    <ul class="search-result">
      <li *ngFor="let cliente of clientes$ | async" >
        <a routerLink="/detalhesClientes/{{cliente.id}}">
          {{cliente.nomeCliente}}
        </a>
      </li>
    </ul>
  </div>