<h2>Clientes</h2>
<ul class="clientes">
  <li *ngFor="let cliente of clientes">
    <a routerLink="/detalhesClientes/{{cliente.id}}">
      <span class="badge">{{cliente.id}}</span> {{cliente.nomeCliente}}
    </a>
    
<button class="delete" title="delete cliente"
(click)="delete(cliente)">x</button>
  </li>
</ul>

<div>
  <label for="new-cliente">Nome Cliente</label>
  <input id="new-cliente" #nomeCliente />

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(nomeCliente.value); nomeCliente.value=''">
    adicionar cliente
  </button>
</div>


<!-- <app-detalhes-clientes [cliente]="clienteSelecionado"></app-detalhes-clientes>-->
