<div *ngIf="notificacoesService.notificacoes.length">

    <h2>Notificações</h2>
    <button class="clear"
            (click)="notificacoesService.clear()">Limpar notificacoes</button>
    <div *ngFor='let notificacao of notificacoesService.notificacoes'> {{notificacao}} </div>
  
  </div>