/* MessagesComponent's private CSS styles */
h2 {
    color: #006e99;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  div{color:#4696b6}
  
  .clear {
    color: #006e99;
    background-color: rgb(238, 238, 238);
    margin-bottom: 6px;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  .clear:hover {
    color: #006e99;
    background-color: #f8f8f8;
  }